html, body {
    margin: 0;
    padding: 0;
    min-width: 960px;
    background-color: #f2eee3;
}

html {
    height: 100%;
    margin: auto;
}

a {
    margin: 0;
    color: #ffe8d6;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}

h2, h4, h5, a, p {
    font-family: Roboto, Helvetica, sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4, h5 {
    color: #c14953;
    margin: 0.5em 0;
}

h4 {
    font-size: 14px;
    font-weight: 400;
}

h5 {
    font-size: 12px;
    font-weight: 200;
}

.left .star {
    display: block;
    margin-left: auto;
    width: 100px;
}

.right .star {
    display: block;
    width: 70px;
}

.middle .star {
    display: block;
    width: 50px;
}

.left .space-ship{
    position: relative;
    right: 15%;
    margin-bottom: 30%;
    display: block;
}

.right .space-ship {
    position: relative;
    right: 20%;
    display: block;
}

.middle .space-ship {
    display: block;
}

.left {
    min-width: 320px;
}

.middle {
    min-width: 320px;
}

.right {
    min-width: 320px;
}

.main-course {
    background-color: #14213d;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 960px;
}

.main-course-name {
    font-family: Satisfy, Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #ffe8d6;
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.main-course-occupation {
    font-family: Roboto, Helvetica, sans-serif;
    color: #ffe8d6;
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.profile-image {
    margin-top: 15em;
    width: 240px;
    height: auto;
    border: 8px solid #fca311;
    background-color:#e5dcc5;
}

.profile-image-div {
    display: flex;
    justify-content: center;
}

.night-sky {
    position: absolute;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 800px;
    background: linear-gradient(#0a9396, #14213d);
}

.header-container{
    position: fixed;
    background-color: #001219;
    top: 0;
    width: 100vw;
    display: flex;
    align-self: stretch;
    flex: 1;
    z-index: 999;
}

.header-lower-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 9;
}

.header-card-text {
    width: 200px;
    margin-right: 2em;
}

.header-card-container {
    display: flex;
    background-color: #e5dcc5;
    padding: 2em;
    border: 8px solid #fca311;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
}

.card-img {
    display: flex;
    border-radius: 0%;
    border: 3px solid #001219;
    width: 100%;
    height: auto;
    max-width: 30vw;
}

.card-description {
    margin: 1em 0;
}

.center-header-text a {
    font-weight: 400;
    margin: 1em;
}

.center-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.fullname {
    display: flex;
    font-size: 18px;
    align-items: center;
    margin-right: auto;
    margin: 1em;
    flex: 1;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    justify-self: flex-end;
    margin-right: 30px;
}

.social-media-logo {
    filter: saturate(60%);
    border-radius: 25%;
    margin: 0.5em;
}